#ol {
list-style: number;

}

.li {

font-size: large;
margin: 2px 5px;
padding-top: 2px;
list-style: auto;
}

.para {
    font-size: 11px;
}

#refBtn:hover{
    color: white;
    background-color: white;
}


#link {
color: blue;
}
